/* Custom adjustments to Bootstraps default CSS */
/* Color theme based on Cosmic Latte (#FFF8E7), the average color of the universe */

h1{
  font-family: Raleway;
  padding-bottom: 50px;
}

.button{
  font-family: Raleway;
  background-color: #0077be;
  border: 1px solid #FFF8E7;
  color: #FFF8E7;
  height: 100%;
  font-size: 20px;
  border-radius: 4px;
  padding: 5px;
}

.inputField{
  font-family: Raleway;
  border: 2px solid #0077be;
  height: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 5px;
}

.top{
  text-align: center;
  align-content: center;
  color: #FFF8E7;

  padding-top: 15%;
  padding-bottom: 20%;

  margin-bottom: 30px;

  /* Parallax Effect */
  background-image: url("resources/hurricane.jpg");

  width:100%;

  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 720px) {
  .top {
    background-attachment: scroll !important;
  }
}

body{
  background-color: #FFF8E7; 
}

img{
  padding-bottom: 30px;
  width: 100%; /* Images span the whole column */
}

button{
  width: 100%;
}

input{
  width: 100%;
}

.start-hidden{
  display: none;
}